.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.filter-container {
  display: flex;
  width: 35%;
  height: 250px;
}

.filter-container p {
  color: var(--neutral-n-70222222, #222);
  font-family: Avenir LT Std;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 175% */
}

.table-container {
  display: flex;
  width: 65%;
  height: auto;
  min-height: 416px;
}

.table-wrapper {
  display: flex;
  width: 90%;
  height: auto;
  min-height: 416px;
  flex-shrink: 0;
  border-radius: 16px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
}

.table-wrapper table td {
  padding: 16px;
  color: #000;
  font-family: 'Avenir LT Std';
  font-size: 20px;
  font-style: normal;
  font-weight: 350;
  line-height: 35px;
  letter-spacing: 0.02px;
}

.table-wrapper table tr, td {
  border-bottom: solid 1px #F7F7F7;
}

.table-wrapper table thead, th{
  background-color: #F7F7F7;
  text-transform: capitalize;
  padding: 16px;
  color: #000;
  /* Desktop/04 Header */
  font-family: Avenir LT Std;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

.table-wrapper table thead th:first-child {
  border-top-left-radius: 16px;
}
  
.table-wrapper table thead th:last-child {
  border-top-right-radius: 16px;
}

.table-wrapper table thead div.asc::after {
  background: url("../../assets/icons/sortingup.svg") no-repeat center center;
  display: inline-block;
  margin-left: 1em;
}

.table-wrapper table thead div.desc::after {
  background-image: url('assets/icons/sortingdown.svg');
  display: inline-block;
  margin-left: 1em;
}