.single-select {
  margin: 0;
  visibility: hidden;
}

.single-select:checked + span {
  border: 5px solid #5C50BB;
}

.single-select:checked + span:after {
  opacity: 1;
}

.custom-radio {
  left: -8px;
  top: 6px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: 2px solid #9a9a9a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

/* for inner filled circle */
.custom-radio::after {
  content: '';
  width: 32px;
  height: 32px;
  background: transparent;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.active {
  background-color: #EFEDFD;
}