.single-select {
  margin: 0;
  visibility: hidden;
}

.single-select:checked + span {
  border: 5px solid #5c50bb;
}

.single-select:checked + span:after {
  opacity: 1;
}

.custom-radio {
  left: -8px;
  top: 6px;
  cursor: pointer;
  width: 22px;
  height: 22px;
  border: 2px solid #9a9a9a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

/* for inner filled circle */
.custom-radio::after {
  content: "";
  width: 22px;
  height: 22px;
  background: transparent;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.active {
  background-color: #efedfd;
}

@media (max-width: 1000px) {
  .single-select {
    margin: 0;
    visibility: hidden;
  }

  .single-select:checked + span {
    border: 5px solid #5c50bb;
  }

  .single-select:checked + span:after {
    opacity: 1;
  }

  .custom-radio {
    left: -8px;
    top: 6px;
    cursor: pointer;
    width: 22px;
    height: 22px;
    border: 2px solid #9a9a9a;
    border-radius: 50%;
    display: inline-block;
    position: relative;
  }

  /* for inner filled circle */
  .custom-radio::after {
    content: "";
    width: 22px;
    height: 22px;
    background: transparent;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
  }

  .active {
    background-color: #efedfd;
  }
}
